<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <!--URL ENVIO DATA-->
    <!--<add key="DocumentoNormal" value="https://avicola.olsdata.com/WSDociDataTransmission/webresources/Docfiscales/sendol"/>
    <add key="Anulacion" value="https://avicola.olsdata.com/WSDociDataTransmission/webresources/Docfiscales/sendanulacion"/>-->
    <add key="Token" value="https://ap.facturaelectronica.uno/fel/gettoken"/>
    <add key="EnvioJSON" value="https://ap.facturaelectronica.uno/fel/sendjson"/>
    <add key="EnvioJSONAnulacion" value="https://ap.facturaelectronica.uno/fel/sendjsoninvalidacion"/>
    <add key="RevisaLinea" value="https://ap.facturaelectronica.uno/fel/getserveractivo"/>
    <add key="InfoFactura" value="https://ap.facturaelectronica.uno/fel/getdetinfo"/>
    <!--CREDENCIALES-->
    <add key="Usuario" value="olsapiqa23a"/>
    <add key="PasswordHead" value="WAUC2MF5Al2CVUJy6KEtCVPIkN0G3lAt1/sVp34w"/>
    <add key="userName" value="olsappavicola1"/>
    <add key="password" value="KwV35!$79W$"/>
    <add key="idCompany" value="ols1"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="IPES" connectionString="Data Source=SRVDBSVOC01;Initial Catalog=ComercializacionDIP;User ID=hh2;Password=HeldHand$1420" providerName="System.Data.SqlClient"/>
    <add name="IPES_Sala" connectionString="Data Source=10.120.19.4\MSSQLQA;Initial Catalog=SalaIP_SV;User ID=hh2;Password=heldhand" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>