<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <!--URL ENVIO DATA-->
    <!--<add key="DocumentoNormal" value="https://avicola.olsdata.com/WSDociDataTransmission/webresources/Docfiscales/sendol"/>
    <add key="Anulacion" value="https://avicola.olsdata.com/WSDociDataTransmission/webresources/Docfiscales/sendanulacion"/>-->
    <!--<add key="Token" value="https://cebf5w838h.execute-api.us-east-1.amazonaws.com/olsapiv1/gettoken"/>
    <add key="EnvioJSON" value="https://cebf5w838h.execute-api.us-east-1.amazonaws.com/olsapiv1/sendjson"/>
    <add key="EnvioJSONAnulacion" value="https://cebf5w838h.execute-api.us-east-1.amazonaws.com/olsapiv1/sendjsoninvalidacion"/>
    <add key="RevisaLinea" value="https://cebf5w838h.execute-api.us-east-1.amazonaws.com/olsapiv1/getserveractivo"/>
    <add key="InfoFactura" value="https://cebf5w838h.execute-api.us-east-1.amazonaws.com/olsapiv1/getdetinfo"/>-->
    <add key="Token" value="C:\ProyectosIG\CMI\cmi_piloto1\Ws_OLS\web1.config" />
    <add key="EnvioJSON" value="1" />
    <add key="EnvioJSONAnulacion" value="1" />
    <add key="RevisaLinea" value="1" />
    <add key="InfoFactura" value="1" />
    <!--CREDENCIALES-->
    <add key="Usuario" value="1" />
    <add key="PasswordHead" value="1" />
    <add key="userName" value="1" />
    <add key="password" value="1" />
    <add key="idCompany" value="1" />
    <add key="ambiente" value="1" />
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="IPES" connectionString="Data Source=CLUSTERIPSQL01;Initial Catalog=ComercializacionDIP;User ID=hh2;Password=HeldHand$1420" providerName="System.Data.SqlClient" />
    <!--<add name="IPES" connectionString="Data Source=10.120.19.4\MSSQLQA;Initial Catalog=ComercializacionDIP;User ID=hh2;Password=Pa$$word4" providerName="System.Data.SqlClient"/>-->
    <!--<add name="IPES_Sala" connectionString="Data Source=10.120.19.4\MSSQLQA;Initial Catalog=SalaIP_SV;User ID=hh2;Password=heldhand" providerName="System.Data.SqlClient"/>-->
    <!--<add name="IPES" connectionString="Data Source=SRVDBSVOC01;Initial Catalog=ComercializacionDIP;User ID=hh2;Password=HeldHand$1420" providerName="System.Data.SqlClient"/>-->
    <!--<add name="IPES_Sala" connectionString="Data Source=10.64.0.128\MSSQL2017QA;Initial Catalog=SalaIP_SV;User ID=hh2;Password=heldhand" providerName="System.Data.SqlClient"/>-->
    <add name="IPES_Sala" connectionString="Data Source=AGCLUSTERTR01.unidad.local;Initial Catalog=SalaIP_SV;User ID=hh2;Password=heldhand" providerName="System.Data.SqlClient" />
    <!--<add name="IPESH" connectionString="Data Source=10.64.0.95;Initial Catalog=IPSV_ComercializacionDIP_Hist;User ID=hh2;Password=heldhand" providerName="System.Data.SqlClient"/>-->
    <!--<add name="IPES" connectionString="Data Source=10.30.4.88\MSSQLTEST;Initial Catalog=ComercializacionDIP;User ID=hh2;Password=Pa$$word4" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>